<div class="pttest">

<p class="line-item-property__field">
    <label for="childs-name">Child's Name</label><br>
    <input required class="input_field required" id="childs-name" type="text" name="properties[Child's Name]">
</p>
<p class="line-item-property__field">
    <label for="teacher-name">Teacher's Name</label><br>
    <input required class="input_field required test" id="teachers-name" type="text" name="properties[Teacher's Name]">
</p>
<p class="line-item-property__field">
    <label for="preferred-day-time">Preferred day and time</label><br>
    <input required class="input_field required" id="preferred-day-time" type="text" name="properties[Preferred day and time]">
</p>
<p class="line-item-property__field">
    <label for="contact-telephone-number">Contact Telephone Number</label><br>
    <input required class="input_field required" id="contact-telephone-number" type="text" name="properties[Contact Telephone Number]">
</p>
<p class="line-item-property__field">
    <label for="full-address">Full address where teaching will take place</label><br>
    <input required class="input_field required" id="full-address" type="text" name="properties[Full address where teaching will take place]">
</p>

</div>

<style>
.line-item-property__field textarea {
  min-height: 60px;
}
.btnbtn {
display: none;
}
  
</style>