<div class="grouped">
  <p class="line-item-property__field">
    <label for="childs-name">Child's First Name:</label><br>
    <input required class="input_field required" id="childs--first-name" type="text" name="properties[Child's First Name]">
  </p>
  <p class="line-item-property__field">
    <label for="childs-name">Child's Second Name:</label><br>
    <input required class="input_field required" id="childs-second-name" type="text" name="properties[Child's Second Name Name]">
  </p>
  <p class="line-item-property__field">
    <label for="childs-date-of-birth">Child's Date of Birth:</label><br>
    <input required class="input_field required" id="childs-date-of-birth" type="text" name="properties[Child's Date of Birth]" placeholder="Please use date format DD/MM/YYYY">
  </p>
  <p class="line-item-property__field">
    <label for="parentcarer-email-address">Parent Email Address:</label><br>
    <input required class="input_field required" id="parentcarer-email-address" type="text" name="properties[Parent Email Address]">
  </p>
  <p class="line-item-property__field"><br>
    <label for="parentcarer-contact-phone-number">Parent Phone Number:</label><br>
    <input required class="input_field required" id="parentcarer-contact-phone-number" type="text" name="properties[Parent Phone Number]">
    </p>
  <p class="line-item-property__field">
    <label for="childs-school">Location:</label><br>
    <input required class="input_field required" class="" id="childs-school" type="text" name="properties[location]">
  </p>  
</div>

<div class="line-item-property__field">
  <label>Experience Level:</label><br>
  <span>If your child has any previous coding experience, let us know here</span><br>
  <div class="option-values">
    <div class="option-select">
      <select class="input_field option-select-input" id="previous-coding-experience" name="properties[Experience Level]">
      <option value="No Experience">No Experience</option>
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Advanced">Advanced</option>
      </select> <span class="option-select-arrow"><svg height="10" style="visibility: visible;" viewbox="0 0 6 10" width="6" xmlns="http://www.w3.org/2000/svg">
      <path d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535" fill="currentColor" fill-rule="evenodd"></path></svg></span>
    </div>
  </div>
</div>
<p class="line-item-property__field">
  <label for="medical-notes">Do you or your child have any areas of coding or technology that you are interested in?</label><br>
  <textarea required class=" required" id="medical-notes" name="properties[Coding/Technology you are interested]"></textarea>
</p>
<div class="line-item-property__field">
  <label>How did you hear about us?</label><br>
  <div class="option-values">
    <div class="option-select">
      <select class="input_field option-select-input" id="how-did-you-hear-about-blueshift" name="properties[How did you hear about us?]">
        <option value="Facebook">Facebook</option>
        <option value="Instagram">Instagram</option>
        <option value="Twitter">Twitter</option>
        <option value="Search">Search</option>
        <option value="Friend or family member">Friend or family member</option>
        <option value="Newspaper or magazine">Newspaper or magazine</option>
        <option value="Flyer">Flyer</option>
        <option value="Email/Newsletter">Email/Newsletter</option>
        <option value="Pinboard">Pinboard</option>
        <option value="Other">Other</option> 
      </select> <span class="option-select-arrow"><svg height="10" style="visibility: visible;" viewbox="0 0 6 10" width="6" xmlns="http://www.w3.org/2000/svg">
      <path d="M5.138 5.344l.004-.54L.005 9.457.567 10l5.138-4.652L6 5.08l-.29-.27L.57 0 0 .535" fill="currentColor" fill-rule="evenodd"></path></svg></span>
    </div>
  </div>
</div>
<p class="line-item-property__field">
  <label for="medical-notes">Is there anything else you would like to add?</label><br>
  <textarea required class=" required" id="medical-notes" name="properties[You like to add]"></textarea>
</p>
<div class="line-item-property__field">
  <label>Our online tuition lessons requires your child to use a computer with internet, a headset/earphones, webcam and microphone capabilities in an online learning classroom environment. For more information about our safeguarding policies please <a href="http://help.blueshiftcoding.com/en/articles/1969995-child-safeguarding-policy">click here</a>.</label><br>
  <input required type="checkbox" class="input_field input_checkbox required" id="safeguarding-policy" name="properties[Safeguarding-policy-accept]" style="width:fit-content; float: left;"/>
  <label for="safeguading-policy" style="display: inline-block; margin-top: 11px; margin-left: 10px;">Yes, I understand.</label>
</div>
<div class="line-item-property__field" style="clear: left;">
  <label>Elements of each lesson may be recorded for training and quality assurance purposes. Please indicate that you consent to this below. For more information about our privacy policy please <a href="http://help.blueshiftcoding.com/en/articles/1843682-privacy-policy">click here</a>.
</label><br>
  <input required type="checkbox" class="input_field input_checkbox required" id="privacy-policy" name="properties[Privacy-policy-accept]" style="width:fit-content; float: left;"/>
  <label for="privacy-policy" style="display: inline-block; margin-top: 11px; margin-left: 10px;">I consent to my child being recorded for training and quality assurance purposes.</label>
</div>

