<div class="cart-items ca-cart ca-hide" style="display: none;">
    <div class="errors ca-errors" style="display: none;">
        Please fill this out and you will be able to check out.
    </div>
    <div class="ca-attrs">
            </div>
</div>
