
      <div class="powr-contact-form" id="shopify-section-contact-form-{{ section.id }}"></div>
      {% schema %}
        {
          "name": "Contact Form",
          "settings": [
            {
              "type": "header",
              "content": "Edit",
              "info": "Manage Plugins on [POWr.io](https://powr.io)"
            },
            {
              "type": "paragraph",
              "content": "Click Edit Me in Preview to Edit Contact Form."
            },
            {
              "type": "paragraph",
              "content": "[Need Help?](https://powr.io/knowledge-base)"
            }
          ],
          "presets": [
            {
              "name": "Contact Form",
              "category": "POWr Plugins"
            }
          ]
        }
      {% endschema %}
      