<section data-section-id="{{section.id}}" class="rocket-section-{{section.id}}">
  <svg class="rocketSVG" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMin meet">
   <defs>
    <circle fill="#FFF" class="star" cx="0" cy="0" r="3"/>
    <circle id="cloud" cx="0" cy="0" r="26"/>
    </defs>
   <g class="starContainer"/>
        <text class="heroRocketText heroLine0" x="50%" y="23%" letter-spacing="0.05em"></text>
        <text class="heroRocketText heroLine1" x="50%" y="37%" letter-spacing="0.05em"></text>


        <g class="rocketGroup">
          <g class="smokeTail" transform="translate(-3, 20)">
            <polygon points="96.93 349 20.93 349 39.93 162 72.93 162 96.93 349" fill="#c1e7e9"/>
            <polygon points="85.93 349 32.93 349 49.93 162 62.93 162 85.93 349" fill="#fff"/>
          </g>
         <g class="rocketFlameContainer">
           <g class="rocketFlame">
            <path d="M72.11,182.26H36.92c-1.54,2.42-5.58,11.43-4.08,38.15,1.66,29.54,21.67,64.4,21.67,64.4s20-34.85,21.67-64.4C77.69,193.7,73.65,184.68,72.11,182.26Z" fill="#fccd40"/>
            <path d="M54.52,263.45C49.21,250,43.13,231.36,42.3,214.79c-.85-16.8.19-26.38,1.2-31.44h22c1,5.05,2,14.63,1.2,31.44C65.9,231.36,59.83,250,54.52,263.45Z" fill="#f7ee98"/>
            <path d="M72.11,182.26H54.38V284.57l.14.25s20-34.85,21.67-64.4C77.69,193.7,73.65,184.68,72.11,182.26Z" fill="#f3a028"/>
            <path d="M65.53,183.36H54.38v79.74l.14.36C59.83,250,65.9,231.36,66.73,214.79,67.58,198,66.54,188.41,65.53,183.36Z" fill="#eddc64"/>
          </g>
          </g>
          <g class="rocketBody">
            <path d="M30,120.55s-14.1,7.57-23.68,39C2.3,172.8.63,200.66,0,213.1a1.91,1.91,0,0,0,3.57,1c7.59-13.55,24.78-45.76,38.63-46.52C67.07,166.26,30,120.55,30,120.55Z" fill="#bd1818"/>
            <path d="M79,120.56s14.09,7.57,23.66,39c4,13.29,5.71,41.14,6.34,53.58a1.91,1.91,0,0,1-3.57,1c-7.58-13.55-24.77-45.77-38.61-46.53C42,166.26,79,120.56,79,120.56Z" fill="#bd1818"/>
            <polygon points="21.63 157.15 21.99 159.52 24.93 167.17 24.93 170.73 31.09 173.92 31.09 177.52 54.52 180.42 77.95 177.53 77.95 173.85 84.11 170.74 84.11 167.4 87.06 159.53 87.42 157.16 54.52 152.99 21.63 157.15" fill="#bd1818"/>
            <path d="M89.1,126.57a275.93,275.93,0,0,1-1.68,30.59H21.62A276,276,0,0,1,20,126.56C20,98.42,24,73,30.56,54.92H78.51C85,73,89.1,98.43,89.1,126.57Z" fill="#8dd3d8"/>
            <path d="M83.16,175c.33-1.39.64-2.79.95-4.23H24.93c.3,1.44.62,2.84.94,4.23Z" fill="#aadcf5"/>
            <path d="M74.41,185.77q1.86-3.79,3.54-8.24H31.09q1.67,4.44,3.54,8.24Z" fill="#4ea1c2"/>
            <path d="M85.74,168.62q.73-4.43,1.32-9.09H22q.58,4.66,1.32,9.09Z" fill="#3b7f99"/>
            <path d="M58.69,27.33C57.12,10.78,55,0,54.55,0S52,10.78,50.4,27.33Z" fill="#932c21"/>
            <circle cx="54.53" cy="95.1" r="16.33" fill="#bd1818"/>
            <circle cx="54.53" cy="95.1" r="12.95" transform="translate(-54.78 103.41) rotate(-64.52)" fill="#f7ee98"/>
            <path d="M54.88,82.17a12.86,12.86,0,0,1,1.88.19L46,104.86a12.86,12.86,0,0,1-1.33-1.35ZM43.8,102.31l9.58-20.09a13,13,0,0,0-3.71.89L42.15,98.86A13,13,0,0,0,43.8,102.31Z" fill="#fff"/>
            <path d="M54.52,217h0A2.47,2.47,0,0,0,57,214.76l7.55-73.08a10,10,0,0,0-10-11.08h0a10,10,0,0,0-10,11.08l7.53,73.08A2.47,2.47,0,0,0,54.52,217Z" fill="#d22b2a"/>
            <path d="M78.51,54.92c-9.05-25-21.07-41.26-24-41.26s-14.92,16.26-24,41.25Z" fill="#bd1818"/>
            <path d="M79,120.56s14.09,7.57,23.66,39c4,13.29,5.71,41.14,6.34,53.58a1.91,1.91,0,0,1-3.57,1c-7.58-13.55-24.77-45.77-38.61-46.53C42,166.26,79,120.56,79,120.56Z" fill="#870007"/>
            <polygon points="54.58 153 54.58 180.41 77.95 177.53 77.95 173.85 84.11 170.74 84.11 167.4 87.06 159.53 87.42 157.16 54.58 153" fill="#bd1818"/>
            <path d="M54.6,27.11l0,130H87.42a275.3,275.3,0,0,0,1.67-30.59C89.1,71.7,73.66,27.2,54.6,27.11Z" fill="#44a1a8"/>
            <path d="M54.58,170.73V175H83.16c.33-1.39.64-2.79.95-4.23Z" fill="#7ac0e9"/>
            <path d="M54.58,177.53v8.24H74.41q1.86-3.79,3.54-8.24Z" fill="#276893"/>
            <path d="M54.58,159.53v9.09H85.74q.73-4.43,1.32-9.09Z" fill="#17405b"/>
            <path d="M54.6,0V27.33h4.09C57.18,11.33,55.19.73,54.6,0Z" fill="#520006"/>
            <path d="M54.59,54.92H78.51c-9-24.85-20.92-41.06-23.91-41.25Z" fill="#870007"/>
            <path d="M54.59,78.77v32.65a16.33,16.33,0,0,0,0-32.65Z" fill="#870007"/>
            <path d="M60.1,83.41a12.88,12.88,0,0,0-5.51-1.25V108A12.94,12.94,0,0,0,60.1,83.41Z" fill="#eddc64"/>
            <path d="M54.59,86.91l2.17-4.56a12.86,12.86,0,0,0-1.88-.19l-.29.61Z" fill="#fff"/>
            <path d="M54.58,130.6V217a2.47,2.47,0,0,0,2.4-2.21l7.55-73.08A10,10,0,0,0,54.58,130.6Z" fill="#a7000e"/>
          </g>
        </g>
  <g class="display">
   <rect width="224" height="78" fill="#FFF" stroke="#5cc0c7" stroke-width="4" rx="12" ry="12"/>
    <text class="readoutText line0" x="15" y="24"></text>
    <text class="readoutText line1" x="15" y="44"></text>
    <text class="readoutText line2" x="15" y="64"></text>
    </g>
  <g class="cloudGroup" fill="#FFF">
           <!-- <rect x="37" y="114" width="1285" height="377"/> -->
             <circle cx="245.5" cy="620.5" r="26.5"/>
          <circle cx="269.5" cy="647.5" r="26.5"/>
          <circle cx="291.5" cy="620.5" r="26.5"/>
          <circle cx="291" cy="601" r="18"/>
          <circle cx="266" cy="594" r="12"/>
          <circle cx="252.5" cy="587.5" r="8.5"/>
          <circle cx="269" cy="583" r="6"/>
          <circle cx="299.5" cy="656.5" r="26.5"/>
          <circle cx="318.5" cy="650.5" r="26.5"/>
          <circle cx="242.5" cy="656.5" r="26.5"/>
          <circle cx="218.5" cy="650.5" r="26.5"/>
          <circle cx="201.5" cy="671.5" r="26.5"/>
          <circle cx="228.5" cy="683.5" r="26.5"/>
          <circle cx="265.5" cy="683.5" r="26.5"/>
          <circle cx="324.5" cy="682.5" r="26.5"/>
          <circle cx="345.5" cy="661.5" r="26.5"/>
          <circle cx="505.5" cy="684.5" r="26.5"/>
          <circle cx="493.5" cy="728.5" r="26.5"/>
          <circle cx="478.5" cy="701.5" r="26.5"/>
          <circle cx="485.5" cy="670.5" r="26.5"/>
          <circle cx="451.5" cy="665.5" r="26.5"/>
          <circle cx="440.5" cy="703.5" r="26.5"/>
          <circle cx="451.5" cy="730.5" r="26.5"/>
          <circle cx="467.5" cy="750.5" r="26.5"/>
          <circle cx="501.5" cy="768.5" r="26.5"/>
          <circle cx="489.5" cy="815.5" r="26.5"/>
          <circle cx="467.5" cy="797.5" r="26.5"/>
          <circle cx="440.5" cy="771.5" r="26.5"/>
          <circle cx="424.5" cy="741.5" r="26.5"/>
          <circle cx="414.5" cy="691.5" r="26.5"/>
          <circle cx="405.5" cy="714.5" r="26.5"/>
          <circle cx="405.5" cy="670.5" r="26.5"/>
          <circle cx="389.5" cy="669.5" r="26.5"/>
          <circle cx="378.5" cy="707.5" r="26.5"/>
          <circle cx="389.5" cy="734.5" r="26.5"/>
          <circle cx="398.5" cy="778.5" r="26.5"/>
          <circle cx="362.5" cy="745.5" r="26.5"/>
          <circle cx="343.5" cy="718.5" r="26.5"/>
          <circle cx="352.5" cy="695.5" r="26.5"/>
          <circle cx="343.5" cy="674.5" r="26.5"/>
          <circle cx="334.5" cy="739.5" r="26.5"/>
          <circle cx="315.5" cy="712.5" r="26.5"/>
          <circle cx="324.5" cy="689.5" r="26.5"/>
          <circle cx="315.5" cy="668.5" r="26.5"/>
          <circle cx="288.5" cy="705.5" r="26.5"/>
          <circle cx="253.5" cy="716.5" r="26.5"/>
          <circle cx="281.5" cy="685.5" r="26.5"/>
          <circle cx="253.5" cy="672.5" r="26.5"/>
          <circle cx="343.5" cy="767.5" r="26.5"/>
          <circle cx="377.5" cy="785.5" r="26.5"/>
          <circle cx="365.5" cy="832.5" r="26.5"/>
          <circle cx="343.5" cy="814.5" r="26.5"/>
          <circle cx="207.5" cy="722.5" r="26.5"/>
          <circle cx="216.5" cy="699.5" r="26.5"/>
          <circle cx="207.5" cy="678.5" r="26.5"/>
          <circle cx="179.5" cy="716.5" r="26.5"/>
          <circle cx="188.5" cy="693.5" r="26.5"/>
          <circle cx="179.5" cy="672.5" r="26.5"/>
          <circle cx="143.5" cy="671.5" r="26.5"/>
          <circle cx="152.5" cy="709.5" r="26.5"/>
          <circle cx="117.5" cy="720.5" r="26.5"/>
          <circle cx="126.5" cy="697.5" r="26.5"/>
          <circle cx="299.5" cy="732.5" r="26.5"/>
          <circle cx="308.5" cy="776.5" r="26.5"/>
          <circle cx="272.5" cy="743.5" r="26.5"/>
          <circle cx="316.5" cy="788.5" r="26.5"/>
          <circle cx="280.5" cy="781.5" r="26.5"/>
          <circle cx="226.5" cy="749.5" r="26.5"/>
          <circle cx="198.5" cy="743.5" r="26.5"/>
          <circle cx="163.5" cy="736.5" r="26.5"/>
          <circle cx="172.5" cy="780.5" r="26.5"/>
          <circle cx="136.5" cy="747.5" r="26.5"/>
          <circle cx="207.5" cy="771.5" r="26.5"/>
          <circle cx="207.5" cy="818.5" r="26.5"/>
          <circle cx="180.5" cy="792.5" r="26.5"/>
          <circle cx="144.5" cy="785.5" r="26.5"/>
          <circle cx="416.5" cy="807.5" r="26.5"/>
          <circle cx="397.5" cy="816.5" r="26.5"/>
          <circle cx="361.5" cy="783.5" r="26.5"/>
          <circle cx="411.5" cy="839.5" r="26.5"/>
          <circle cx="287.5" cy="783.5" r="26.5"/>
          <circle cx="252.5" cy="776.5" r="26.5"/>
          <circle cx="261.5" cy="820.5" r="26.5"/>
          <circle cx="225.5" cy="787.5" r="26.5"/>
          <circle cx="296.5" cy="811.5" r="26.5"/>
          <circle cx="319.5" cy="844.5" r="26.5"/>
          <circle cx="269.5" cy="832.5" r="26.5"/>
          <circle cx="233.5" cy="825.5" r="26.5"/>
          <circle cx="117.5" cy="746.5" r="26.5"/>
          <circle cx="98.5" cy="719.5" r="26.5"/>
          <circle cx="107.5" cy="696.5" r="26.5"/>
          <circle cx="99.5" cy="795.5" r="26.5"/>
          <circle cx="104.5" cy="786.5" r="26.5"/>
          <circle cx="493.5" cy="875.5" r="26.5"/>
          <circle cx="467.5" cy="911.5" r="26.5"/>
          <circle cx="455.5" cy="820.5" r="26.5"/>
          <circle cx="471.5" cy="840.5" r="26.5"/>
          <circle cx="505.5" cy="858.5" r="26.5"/>
          <circle cx="437.5" cy="931.5" r="26.5"/>
          <circle cx="467.5" cy="940.5" r="26.5"/>
          <circle cx="450.5" cy="847.5" r="26.5"/>
          <circle cx="445.5" cy="872.5" r="26.5"/>
          <circle cx="392.5" cy="873.5" r="26.5"/>
          <circle cx="380.5" cy="874.5" r="26.5"/>
          <circle cx="336.5" cy="874.5" r="26.5"/>
          <circle cx="319.5" cy="873.5" r="26.5"/>
          <circle cx="285.5" cy="859.5" r="26.5"/>
          <circle cx="258.5" cy="863.5" r="26.5"/>
          <circle cx="190.5" cy="836.5" r="26.5"/>
          <circle cx="152.5" cy="821.5" r="26.5"/>
          <circle cx="437.5" cy="905.5" r="26.5"/>
          <circle cx="402.5" cy="868.5" r="26.5"/>
          <circle cx="338.5" cy="870.5" r="26.5"/>
          <circle cx="347.5" cy="898.5" r="26.5"/>
          <circle cx="381.5" cy="916.5" r="26.5"/>
          <circle cx="369.5" cy="963.5" r="26.5"/>
          <circle cx="347.5" cy="945.5" r="26.5"/>
          <circle cx="312.5" cy="907.5" r="26.5"/>
          <circle cx="276.5" cy="874.5" r="26.5"/>
          <circle cx="320.5" cy="919.5" r="26.5"/>
          <circle cx="284.5" cy="912.5" r="26.5"/>
          <circle cx="230.5" cy="880.5" r="26.5"/>
          <circle cx="202.5" cy="874.5" r="26.5"/>
          <circle cx="167.5" cy="867.5" r="26.5"/>
          <circle cx="133.5" cy="891.5" r="26.5"/>
          <circle cx="221.5" cy="837.5" r="26.5"/>
          <circle cx="211.5" cy="902.5" r="26.5"/>
          <circle cx="207.5" cy="931.5" r="26.5"/>
          <circle cx="171.5" cy="911.5" r="26.5"/>
          <circle cx="139.5" cy="858.5" r="26.5"/>
          <circle cx="420.5" cy="938.5" r="26.5"/>
          <circle cx="401.5" cy="947.5" r="26.5"/>
          <circle cx="401.5" cy="914.5" r="26.5"/>
          <circle cx="409.5" cy="959.5" r="26.5"/>
          <circle cx="373.5" cy="952.5" r="26.5"/>
          <circle cx="256.5" cy="907.5" r="26.5"/>
          <circle cx="229.5" cy="918.5" r="26.5"/>
          <circle cx="300.5" cy="942.5" r="26.5"/>
          <circle cx="269.5" cy="952.5" r="26.5"/>
          <circle cx="237.5" cy="956.5" r="26.5"/>
          <circle cx="140.5" cy="826.5" r="26.5"/>
          <circle cx="94.5" cy="868.5" r="26.5"/>
          <circle cx="94.5" cy="832.5" r="26.5"/>
          <circle cx="99.5" cy="859.5" r="26.5"/>

   </g>

  </svg>
  {% if section.settings.message !=blank %}
    <div class="rocket-message">
      {{ section.settings.message }}
    </div>
  {% endif %}
</section>
{% schema %}
{
  "name": "Rocket launcher",
  "settings": [
    {
      "id":"message",
      "label":"message",
      "type":"text"
    }
  ],
  "presets": [
    {
      "category": "Other",
      "name": "Rocket launcher"
    }
  ]
}
{% endschema %}
