<h1 class="list-collections-title">{{ 'list_collections.title' | t }}</h1>

{%- paginate collections by section.settings.collections-per-page -%}
  <div class="list-collections">
      {%- for collection in collections -%}
        {%- include 'collection-item',
          collection: collection,
          display_description: section.settings.collection_item_display_description
        -%}
      {%- endfor -%}
  </div>
  {%- include 'pagination' -%}
{%- endpaginate -%}

{% schema %}
{
  "name": "Collections list page",
  "class": "section-list-collections",
  "settings": [
    {
      "type": "range",
      "id": "collections-per-page",
      "label": "Collections per page",
      "min": 3,
      "max": 30,
      "step": 3,
      "default": 9
    },
    {
      "id": "collection_item_display_description",
      "type": "checkbox",
      "label": "Show descriptions",
      "default": false
    }
  ]
}

{% endschema %}