<meta name="viewport" content="width=device-width, initial-scale=1">

{% layout none %}

<link href="//d2gkxpfclqno3n.cloudfront.net/pagestudio/blocks.css?v=1&shop={{ shop.permanent_domain }}" rel="stylesheet" type="text/css"/><script src="//d2gkxpfclqno3n.cloudfront.net/pagestudio/assets/shared/js/pagestudio.dist.js"></script><div class="studioengine">{{ page.content }}</div>

<style>
body {
    margin: 0;
    width: 100% !important;
    background: white !important;
}
</style>